{% extends "adminlte_full/base.html" %}
{% import "adminlte_full/macros/widgets.html" as widgets %}
{% import "adminlte_full/macros/markup.html" as markup with context %}
{% import 'adminlte_full/macros/bootstrap4.html' as bootstrap %}

{% block breadcrumbs %}
  {{ super() }}
  {{ bootstrap.breadcrumb(title=_('My Apps'), is_active=True) }}
{% endblock breadcrumbs %}

{% block page_title %}{{ _('My Apps') }}{% endblock %}

{% block page_content %}
<div class="row">
{%for app in current_app_manager.installed_apps%}
<div class="col-lg-3 col-6">
{{ widgets.render_small_box(
          app.name, 
          app._path, 
          url=app.path, 
          color=ThemeColor.SUCCESS if app._path == current_application else ThemeColor.INFO, 
          url_text='Launch '+app.name, 
          icon=app.icon) }}
</div>
{%endfor%}
</div>
{% endblock %}