{% extends "adminlte_full/base.html" %}
{% import "adminlte_full/macros/widgets.html" as widgets %}
{% import "adminlte_full/macros/markup.html" as markup with context %}
{% import 'adminlte_full/macros/bootstrap4.html' as bootstrap %}


{% macro applications_menu(apps) -%}
{% call markup.nav_item(icon='fa fa-th text-lg', badge=apps|length,title='Your Apps') %}
      <span class="dropdown-item dropdown-header">{{ apps | length }} Apps</span>
      <div class="dropdown-divider"></div>
      {% for app in apps %}
        <a href="{{ app.path }}" class="dropdown-item">
          <i class="{{ app.icon }} mr-2 text-{{ app.color|default('lg') }}"></i> {{ app.name }}
          <span class="float-right text-muted text-sm">{{ app._path }}</span>
        </a>
        <div class="dropdown-divider"></div>
      {% endfor %}
      <a href="{{ url_for('applications.launch')  }}" class="dropdown-item dropdown-footer">{{ adminlte.gettext('See All Apps') }}</a>
{% endcall %}
{%- endmacro %}

{% block navbar_right %}
  {% if current_app_manager.current_application %}
  <li class="nav-item">
    <a class="nav-item btn bg-success" href="{{url_for('applications.download',path=current_app_manager.current_application)}}">
      <i class="fas fa-download"></i> Download This App
      <span class="badge bg-purple">891</span>
      
    </a>
  </li>
  {% endif %}
{{super()}}
{{applications_menu(current_app_manager.installed_apps)}}
{% endblock navbar_right %}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
{%endblock%}

{%block javascript%}
{{super()}}
{%if config.ADMINLTE_CUSTOMIZER_ENABLED%}
<script async src="{{ url_for('adminlte_full.static', filename='dist/js/demo.js') }}"></script>
{%endif%}
{%endblock%}

{% block breadcrumbs %}
  {{ super() }}
  {{ bootstrap.breadcrumb(title=_('Base Template'), is_active=True) }}
{% endblock breadcrumbs %}

{% block page_title %}{{ _('Base Template') }}{% endblock %}

{% block page_content %}
<h1> Nothing here yet </h1>
{% endblock %}

{% block main_footer %} 
  {% if config.APP_VERSION %}
  <div class="float-right d-none d-sm-block">
    <b>Version</b> {{config.APP_VERSION}}
  </div>
  {%endif%}
<strong>Copyright &copy; 2014-2021 <a href="{{request.url_root}}" target="_blank">{{config.ADMINLTE_BRAND_HTML|safe}}</a>.</strong>
All rights reserved.
{% endblock main_footer %}